extends layout/layout.pug

block content
  form(action="/", method="get")
    p="Search by name"
    input(type="text" name="name")
    input(type="submit", value="Search")

  pre
    code=(JSON.stringify(villager, null, 2))